.panel{
    border: 3px solid dodgerblue;
    background: #EEA571;
    margin: 10px;
}

/* Mixins remove the need for having to keep repeating these -webkit- -moz - ms- factors for different browser compatability*/

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/*@extend makes the new class take the properties of the listed class .panel in this example - this saves you having to repeat code. */

.little-panel{
    @extend .panel;
    @include border-radius(5px);
    font-size: 12px;
    padding: 5px;
}

.big-panel{
    @extend .panel;
    @include border-radius(20px);
    font-size: 32px;
    padding: 20px;
}